*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    background-color: black
    font-family: 'Montserrat', sans-serif
    scroll-behavior: smooth
    // overflow: hidden

.wrapper
    display: flex
    flex-direction: column
    position: relative
    // height: 1000px
    color: white
    background-image: url(/imgs/bg_small.jpg)
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    // overflow: hidden
    z-index: 0

    .nav
        display: flex
        position: sticky
        top: 0
        z-index: 100
        // width: 100%
        // border-bottom: 1px solid #383838

        .menuLabel
            display: grid
            grid-template-columns: 1fr 3fr
            width: 100%
            padding: 15px 20px
            background-color: #000000
            border-bottom: 1px solid #131313
            // background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 80%)
            z-index: 10
            position: sticky
            top: 0

            .menuBars
                display: grid
                // grid-template-columns: 1fr 1fr
                justify-self: start
                background: none
                border: none

                i
                    font-size: 20px
                    color: whitesmoke
                    align-self: center
                    transition: transform 0.8s, color 0.8s

                .animationBars
                    transform: rotateZ(180deg)
                    color: #d5d838

            .logo
                display: grid
                grid-template-columns: 3fr 1fr
                justify-self: end

                h3
                    margin: 0
                    font-size: 20px
                    letter-spacing: 3px
                    color: whitesmoke
                    align-self: center

                img
                    padding-left: 10px
                    height: 25px

            i

    .scroll-fix::before // fajny sposob na scroll fix zeby nav nie zaslanial strony po przeniesieniu nizej
        content: ''
        display: block
        height: 100px
        margin-top: -50px

    .collapseMenu
        position: absolute
        top: 52px
        left: -75%// transition to 0 for collapse
        // background-color: rgba(0, 0, 0, 0.8)

        background: rgb(0,0,0)
        background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0.85) 100%)
        // background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 20%)
        color: white
        padding: 15px 10px
        text-align: left
        border-bottom-right-radius: 50px
        transition: left 1.2s
        z-index: 9

        ul
            padding: 0
            margin: 0
            list-style-type: none
            list-style-position: outside
        li
            padding: 15px 15px 15px 0
            letter-spacing: 2px
            text-transform: uppercase

            a
                text-decoration: none
                color: whitesmoke

            .fas
                padding: 0px 15px
                color: #d5d838
                color: grey
                transition: color 0.5s

            .activeSection
                color: #d5d838
                font-weight: bolder

    .activateCollapse
        left: 0

.fa-calculator, .fa-fire-alt, .fa-book-reader, .fa-home
    color: #d5d838

// .menuLabel
//     .menuBars:hover .collapseMenu
//         left: 0

// .menuBars:hover
//     .fa-bars
//         color: #d5d838
//         transform: rotateY(180deg)

// .collapseMenu .nav:hover
// .nav:hover + .collapseMenu
//     left: 0
//     align-self: flex-end

// hover to test

.hero-shadow, .hero-shadow-reverse, .hero-shadow-bothsides, .hero-shadow-quote
    position: absolute
    background: rgb(0,0,0)
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 50%, rgba(0,0,0,1) 100%)
    height: 100%
    width: 100%
    z-index: -1

.hero-shadow-quote
    background-color: rgba(0,0,0, 0.5)
    top: 0
    left: 0
    border-radius: 25px

.hero-shadow-reverse

.hero-shadow-bothsides
    // background: #080808
    background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0.8), rgba(0, 0, 0, 1) 95%)
    // background-attachment: fixed

.header
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    width: 100%
    height: 100vh
    background-image: url(/imgs/headerSmall2.jpg)
    // background-color: black
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    z-index: 0
    margin-top: -55px
    text-shadow: 2px 2px 2px black

    h1
        color: white
        // font-weight: bolder
        text-align: center
        text-transform: uppercase
        letter-spacing: 2px
        font-size: 24px
        padding: 5px

    span
        color: #d5d838
        text-align: center
        font-size: 16px
        padding: 5px
        margin-bottom: 50px

.articlesListSection
    // background-color: #ffffff
    overflow: hidden
    z-index: 1

section
    display: flex
    position: relative
    flex-direction: column
    height: 100%
    width: 100%
    // overflow: hidden
    // height: 1000px
    // background-color: black
    background-position: center
    background-size: cover

    .highlighted
        color: #d5d838
        // color: black
        font-weight: bold
        // background-color: #d5d838

    // .highlightedOpacity
    //     opacity: 0
    //     transition: opacity 1s 0.5s

    // .highlightedOpacityShow
    //     opacity: 1

    .description, .activeQuote
        margin: 0px 30px 0px 30px
        // padding: 10px

    .allQuotes
        display: none

    .activeQuote
        position: relative
        text-align: center
        min-height: 130px
        // padding: 15px
        // box-shadow: 0px 0px 30px #1d1d1d
        // border: 1px solid #3a3a3a
        // border-radius: 25px
        // background-color: #0f0f0f
        // background-image: url(/imgs/fire-quote2.jpg)
        background-size: cover
        background-position: center
        z-index: 0

        .quoteContainer
            display: flex
            flex-direction: column
            margin: 10px 0
            color: #e6e6e6

            .quoteAuthor
                padding-top: 15px
                font-size: 14px

    .quoteChange
        font-size: 14px
        text-align: center
        margin: 20px auto
        width: 70px
        background-color: #d5d838
        border-radius: 20px
        i
            padding: 10px
            color: black

        .transformIcons
            animation: transformIcon 0.8s ease 0s 1 normal forwards

        .nextTransformIcons
            animation: nextTransformIcon 0.8s ease 0s 1 normal forwards

    .about
    h3
        padding: 30px 0px 20px 0px
        margin: 0px 30px
        font-size: 18px
        text-align: left
        text-transform: uppercase
        letter-spacing: 2px
        // border-bottom: 1px solid white

        // i
        //     color: #ff7300

    .underline
        // align-self: center
        margin: 0px 30px 30px 30px
        height: 1px
        background-color: whitesmoke
        background-color: #cecece
        // width: 80%

    .articlesPages
        position: relative
        display: flex
        // flex-direction: column
        // justify-content: 
        // margin: auto
        width: 100vw
        margin-top: -30px
        // left: -300%

        .pageArticle
            // position: absolute
            // margin: 0px 30px 0px 30px
            width: 100vw

        .articlesFirstPage
            position: absolute
            opacity: 0
            // left: -100%
            // margin: 30px
            padding: 0px 30px
            // transition: left 5s
            transition: opacity 0.5s ease-out

        .articlesSecondPage
            position: absolute
            opacity: 0
            // left: 100%
            // margin: 30px
            padding: 0px 30px
            transition: opacity 0.5s ease-out

        .activePage
            position: relative
            // left: 0
            opacity: 1
            z-index: 10

        // .unactivePageOne
        //     left: -100%
        //     opacity: 0

    .artCard
        align-self: center
        height: 250px
        width: 100%
        margin: 30px 0px
        background-size: cover
        background-position: center
        z-index: 1

        .textCard
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: center
            height: 100%
            width: 100%
            background: rgb(0,0,0)
            background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.9) 70%)
            z-index: -1

            h3, span
                margin: 0 10px
                padding: 10px
                text-align: left

            h3
                font-size: 20px
                border-bottom: 1px solid grey
            span
                font-size: 14px

.firstArticle
    background-image: url(/imgs/article_zmeczenie.jpg)
.secondArticle
    background-image: url(/imgs/article_zdrowiepsych.jpg)
.thirdArticle
    background-image: url(/imgs/article_sauna.jpg)
.fourthArticle
    background-image: url(/imgs/article_podstawy.jpg)
.fifthArticle
    background-image: url(/imgs/bledySmall.jpg)
.sixthArticle
    background-image: url(/imgs/burgerSmall.jpg)

.articlesListSection
    background-color: #000000

    a
        text-decoration: none
        border: none
        color: whitesmoke

    .paginationArticles
        display: flex
        justify-content: center
        margin-top: 20px

        ul
            color: black
            margin: 0

            li
                color: black
                background-color: black

                a
                    background-color: black
                    color: whitesmoke
                    border: 1px solid #d5d838
                    // font-weight: bolder

                a:focus
                    box-shadow: none
                    // background-color: #d5d838
                    // color: black
                    // border: 1px solid black

                a:hover
                    background-color: #d5d838
                    color: black
                    border: 1px solid black

                .pageNext:hover, .pagePrevious:hover
                    background: none
                    color: whitesmoke
                    border: 1px solid #d5d838

        .active
            background-color: #d5d838
            color: black
            font-weight: bolder
            border: 1px solid black

    // .pagination
    //     color: black
    //     background-color: black

.currentArticleSection
    display: flex
    flex-direction: column
    justify-content: center
    // background-image: url(/imgs/bg3_small.jpg)
    height: 100%
    width: 100%
    // padding-top: 30px
    // // z-index: -1
    overflow: hidden

    .allArticles
        display: none

    .activeArticle
        display: flex
        flex-direction: column
        margin: 0px 30px
        // overflow: hidden
        max-height: 450px
        // justify-content: center
        transition: max-height 2s

        .articleInfo
            display: flex
            flex-direction: column
            .articleDate, h5
                display: inline-block

        img
            align-self: center
            // height: 250px
            max-width: 500px
            width: 100%
            margin: 20px
            background-size: cover
            background-position: center

        h5, .articleDate, .source
            margin: 2px
            font-size: 12px
            text-align: left
            color: #bebebe

            .fas, .far
                padding-right: 5px

        .zmeczenieArticle, .cwiczeniaArticle, .saunaArticle, .podstawyArticle, .bledyArticle, .postanowieniaArticle
            // .cwiczeniaArticle, .saunaArticle, .podstawyArticle
            display: flex
            // display: none
            flex-direction: column
            // height: 500px
            // opacity: 0
            // transition: opacity 0.4s 0.5s

            h3, .underline
                margin: 0

            .mainArticle
                margin-top: 20px
                text-align: left
                font-size: 14px
                color: #d6d6d6

                .Section
                    padding-top: 10px
                    line-height: 24px

                .firstSection
                    font-weight: bold

                .bibliography
                    font-size: 12px

                h5
                    color: white
                    padding-bottom: 5px
                    font-size: 18px
                    text-align: left
                    letter-spacing: 1px

                .source
                    display: block

        .showArticle

    .dropdownArticles
        position: relative
        display: flex
        flex-direction: column
        justify-content: flex-end
        background: linear-gradient(180deg, #ffffff00 0%, #000000 85%)
        align-items: center
        // justify-content: center
        // text-align: center
        // top: 400px
        // padding-bottom: 50px
        // margin-top: -150px
        height: 450px
        // width: 100%
        // padding-bottom: 100px
        // margin-bottom: -50px
        // background: rgb(255,255,255)
        // background-color: #ffffff67
        // background-color: rgba(0,0,0,0.5)
        text-align: center
        // opacity: 0
        // z-index: -10
        // color: white
        z-index: 10
        // overflow: hidden
        cursor: pointer
        transition: height 1s 1s, padding 1s 1s, margin 1s 1s

        .aRollUp
            position: absolute
            text-decoration: none
            border: none
            padding: 25px 10px 10px 10px
            z-index: -10

        .zIndex
            z-index: 10

        span
            color: whitesmoke
            // color: #d5d838
            font-size: 16px
            // font-weight: bolder
            letter-spacing: 1px
            // background-color: black
            // padding: 0px 10% 100px 10%
            // padding-top: 100px
            padding: 25px 10px
            // opacity: 1
            // transition: 3s

        .clickToExtend
            opacity: 1
            position: relative
            transition: opacity 0.3s 2.2s

        .dropdownSpanChange
            // position: absolute
            opacity: 0
            transition: opacity 0.3s

        .clickToRoll
            opacity: 0
            // position: absolute
            padding: 0
            color: grey
            font-size: 12px
            z-index: 15
            transition: opacity 0.3s

        .clickToRollShow
            opacity: 1
            position: relative
            transition: opacity 0.3s 2.2s

        // .opacityChange
        //     opacity: 1

    .heightReset
        max-height: 7000px
    .dropdownHeight
        height: 50px
        padding: 0
        margin: 0

        // top: 0
        // max-height: 20px
        // display: none
        // a
        //     animation: bounce infinite 2s 1s
        //     font-size: 20px
        //     padding-bottom: 5px
        //     padding-top: 40px
        //     // animation-duration: 2s
        //     // animation-delay: 1s
        //     i

        // i
        //     animation: bounce infinite 2s 1s
        //     font-size: 20px
        //     padding-bottom: 5px
        //     padding-top: 40px
        //     // animation-duration: 2s
        //     // animation-delay: 1s
        //     color: #d5d838

.trainingsSection, .calculatorSection

    .trainingsCards
        display: flex
        flex-direction: column
        // background-color: rgba(0, 0, 0, 0.1)
        // background: linear-gradient(180deg, rgba(0,0,0,0) 0%, black 20%)

        .training
            margin: 20px 30px
            max-height: 80px
            // background-color: #1b1b1b 
            background: linear-gradient(180deg, rgba(0,0,0,1) 30%, black 90%)
            border-radius: 10px
            overflow: hidden
            border: 1px solid #141414
            transition: 1s

            p
                padding: 0px 15px 0px 15px
                text-align: left

            .trainingMovies
                display: flex
                flex-direction: column
                justify-content: center
                align-items: start
                align-content: center
                // display: inline-block
                margin: 0 0 20px 0

                a
                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-content: center
                    align-items: center
                    color: #e0e0e0
                    // font-size: 12px
                    text-decoration: none
                    padding: 10px

                    i
                        color: #b31818
                        font-size: 40px
                        // padding: 0px 10px
                        text-decoration: none
                        // background-color: #fff
                        border-radius: 5px
                    p
                        font-size: 12px
                        padding: 0 10px
                        margin: 0
                        background-color: #9b1515
                        color: white
                        font-weight: bolder

        .backgroundTraining
            // display: flex
            // flex-direction: column
            // justify-content: center
            position: relative
            top: -50px
            height: 200px
            width: 100%
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            transition: top 0.5s
            z-index: 1

            h3
                text-align: center
                padding: 70px 0px
                letter-spacing: 4px
                transition: 0.5s
                z-index: 1

            .backgroundTrainingShadow
                position: absolute
                height: 100%
                width: 100%
                // background-color: rgba(0,0,0,0.7)
                background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1) 95%)
                // background: linear-gradient(180deg, #00000000 0%, #000000 99%)
                transition: background-color 0.5s
                z-index: -1

        .backgroundCardio
            background-image: url(/imgs/training_cardio3.jpg)

        .backgroundFitness
            background-image: url(/imgs/trainign_fitness.jpg)

        .backgroundStrength
            background-image: url(/imgs/training_StrengthSMALL.jpg)

        .backgroundFunctional
            background-image: url(/imgs/training_functional.jpg)

        .training:hover
            max-height: 1000px
            border: 1px solid #d5d838

        .training:hover .backgroundTraining
            top: 0

        .training:hover .backgroundTrainingShadow
            // background: linear-gradient(180deg, #ffffff00 0%, #000000 70%)
            // background-color: rgba(0,0,0,0.4)
            // background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 90%)

        .training:hover h3
            padding: 20px 0px
            // align-self: center
            // justify-self: center
            text-shadow: 2px 2px 2px black
            // background-color: rgba(0,0,0,0.7)
            // text-align: left

.calculatorSection
    // overflow: hidden
    .calculator
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .dropdown
            max-height: 50px
            // padding: 15px
            margin: 30px 0px 0px 0px
            font-size: 14px
            overflow: hidden
            border: 1px solid #1f1d1d
            border-radius: 20px
            background-color: rgba(0, 0, 0, 0.5)
            // background: linear-gradient(180deg, rgba(0,0,0,1) 0%, #131313 60%)
            text-transform: uppercase
            z-index: 5
            transition: max-height 0.5s

            h5
                // border-bottom: 1px solid white
                font-size: 16px
                padding: 15px 20px
                text-align: center
                font-weight: bolder
                color: black
                letter-spacing: 2px
                background-color: #d5d838

                i
                    padding: 0px 0px 0px 10px
                    transition: transform 0.5s

            ul
                list-style-type: none
                text-align: center
                // margin: 10px
                padding: 0
                font-size: 14px
                letter-spacing: 1px
                li
                    position: relative
                    text-align: center
                    margin: 15px 0px
                    padding: 5px 20px
                    width: 100%

                    a
                        text-decoration: none
                        color: white
                        transition: color 0.4s

                    .underlineCalc
                        position: relative
                        left: calc(50% - 10px)
                        height: 1px
                        width: 20px
                        background-color: #d5d838
                        margin-top: 5px
                        transition: width 0.4s, left 0.4s

                    .activeDropdownLink
                        width: 120px
                        left: calc(50% - 60px)

                    .activeDropdownLinkColor
                        color: #d5d838

                // a:hover + .underlineCalc
                //     width: 120px
                //     left: calc(50% - 60px)

                // a:hover
                //     color: #d5d838

        .dropdownHeightChange
            max-height: 215px

        .dropdownArrowChange
            transform: rotateX(-180deg)

        // .dropdown:hover
        //     max-height: 215px
        //     // border-bottom-left-radius: 20px
        //     // border-bottom-right-radius: 20px
        .accordion
            // background: none
            // background-color: #d5d838
            margin: 0px 30px
            // width: 80%

            .card
                // margin: 10px 0px
                border-radius: 0
                font-size: 10px
                .card-header
                    background-color: #d5d838
                    padding: 0
                    h2
                        button
                            width: 100%
                            margin: 0
                            padding: 8px 16px
                            display: grid
                            grid-template-columns: 8fr 2fr
                            font-family: 'Montserrat', sans-serif
                            text-decoration: none
                            font-weight: bolder
                            color: black
                            font-size: 16px
                            text-align: left
                            outline: none

                        i
                            align-self: center
                            justify-self: end
                            // margin-left: 30px
                            transition:

                        // .fa-minus   
                        //     display: none

                        button
                            outline: none !important
                            border: none !important
                            box-shadow: none !important

                        .btn

                        .btn-link
                            .fa-plus
                                position: absolute
                                opacity: 0
                                transition: opacity 0.3s, transform 0.4s
                            .fa-minus
                                position: relative
                                opacity: 1
                                transition: opacity 0.5s
                                transition: opacity 0.3s, transform 0.4s

                        .collapsed
                            .fa-minus
                                position: absolute
                                opacity: 0
                                transition: opacity 0.2s
                                transform: rotateZ(90deg)
                                transition: opacity 0.3s, transform 0.4s
                            .fa-plus
                                position: relative
                                opacity: 1
                                transition: opacity 0.5s
                                transform: rotateZ(90deg)
                                transition: opacity 0.3s, transform 0.4s

            // .collapse
            //     transition: 0.5s
                .card-body
                    font-size: 16px
                    font-family: 'Montserrat', sans-serif
                    color: whitesmoke

            .show
                font-size: 16px
                text-align: left
                background-color: #0c0c0c
                border-bottom-left-radius: 10px
                border-bottom-right-radius: 10px
                transition: background-color 0.3s

            .collapsing
                font-size: 16px
                text-align: left
                background-color: rgba(0,0,0,0.5)

        .activeCalc
            position: relative
            margin-bottom: 20px
            overflow: hidden
            // max-height: 0
            // opacity: 0
            // transition: max-height 1s, opacity 2s
            .calc
                position: absolute
                visibility: hidden
                // display: none
                // left: -1000px
                opacity: 0
                z-index: -100
                max-height: 0
                transition: opacity 1s
                overflow: hidden
                .startCalc
                    // width: 100%
                    // background-color: #d5d838
                    // background-color: black
                    border-radius: 25px 25px 0px 0px
                    padding: 20px
                    text-align: center
                    font-family: 'Montserrat', serif
                    // font-weight: bolder
                    // margin-bottom: 10px
                    span
                        // color: whitesmoke
                    .underline
                        margin: 20px 20px 0px 20px
                        background-color: #d5d838

                .calcInputs
                    font-family: 'Montserrat', serif
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    margin: 20px
                    // width: 90%
                    border: 1px solid #d5d838
                    background-color: rgba(0,0,0,0.3)
                    border-radius: 25px
                    z-index: 10
                    max-height: 650px
                    transition: max-height 0.4s

                    .calcInputContainer
                        display: grid
                        grid-template-columns: 1fr 1fr
                        width: 100%
                        height: 90px
                        justify-items: center
                        align-items: center
                        padding: 20px
                        z-index: 20

                        .genderIcons
                            display: flex
                            flex-direction: row
                            justify-content: center
                            align-items: center
                            height: 70px
                            width: 100%

                            .genderIconLink
                                text-decoration: none
                                font-size: 36px
                                color: none
                                padding: 15px
                                transition: color 0.4s, font-size 0.5s
                                // .fas
                                //     // font-size: 40px

                            .female
                                color: #c762ba

                            .male
                                color: #3f66cf

                            .activeGender
                                color: #d5d838
                                font-size: 40px
                            .unactiveGender
                                font-size: 26px

                            

                                

                        .calcQuestion
                            align-items: center
                            justify-self: start
                            letter-spacing: 2px
                            text-transform: uppercase
                            font-size: 14px

                        .calcInput
                            width: 100px
                            height: 30px
                            background: none
                            border: 1px solid grey
                            // border-bottom: 1px solid grey
                            border-radius: 10px
                            padding: 3px 6px
                            color: white
                            text-align: center
                            // justify-self: center

                        .selectContainer
                            width: 100px
                            // height: 30px
                            background-color: black
                            // border: 1px solid grey
                            border-radius: 10px
                            transition: border 0.3s

                            .activity-form
                                background-color: black
                                border-radius: 10px
                                justify-self: end
                                justify-items: end
                                align-self: center
                                text-align: center
                                color: whitesmoke
                                width: 100%
                                margin: auto
                                font-size: 14px
                                // font-weight: bolder   
                                // background-color: #ffffff00
                                outline: none !important
                                // border: none !important
                                box-shadow: none !important
                                padding: 5px
                                border: 1px solid grey
                                transition: border 0.3s

                                option
                                    background-color: black
                                    color: whitesmoke
                                    text-align: center

                            .activity-form:focus
                                outline: none
                                border: 1px solid #d5d838
                                transition: border 0.3s

                        .activeInput
                            border: 1px solid #d5d838 !important
                            z-index: 100

                        .calcInput:focus
                            outline: none
                            border: 1px solid #d5d838
                            transition: border 0.3s
                            z-index: 1

                        .calcInput::placeholder
                            transition: color 0.3s

                        .calcInput:focus::placeholder
                            color: #ffffff00

                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button
                            -webkit-appearance: none
                            margin: 0

                        input[type=number]
                            -moz-appearance: textfield

                    .calcResultBtn, .kcalResultBtn
                        outline: none !important
                        border: none !important
                        box-shadow: none !important
                        width: 150px
                        margin: 30px 20px
                        padding: 8px 16px
                        grid-template-columns: 8fr 2fr
                        font-family: 'Montserrat', sans-serif
                        text-decoration: none
                        font-weight: bolder
                        color: black
                        font-size: 16px
                        text-align: center
                        border-radius: 20px
                        text-transform: uppercase
                        letter-spacing: 2px
                        background-color: #d5d838
                        z-index: 10

                    .result
                        // margin: 0px 0 30px 0
                        // height: 100%
                        // text-align: center
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        opacity: 0
                        position: absolute
                        transition: opacity 0.5s
                        z-index: -10
                        padding: 20px 20px
                        border-top: 1px solid #d5d838
                        overflow: hidden
                        height: 150px
                        // position: relative
                        // display: none

                        // .resultFullText
                        //     display: grid
                        //     // grid-template-rows: 1fr

                        .wrongInputs, .gapInputs, .resultFullText
                            // display: none
                            position: absolute
                            opacity: 0
                            z-index: -11
                            transition: opacity 2s
                            top: -200px
                            left: 0
                            width: 100%
                            // padding: 20px 10px 20px 10px

                        .wrongInputs, .gapInputs
                            color: #d5d838
                            font-weight: bolder
                            text-align: center

                        .activeResult
                            // display: inline-block
                            position: relative
                            opacity: 1
                            top: 0
                            z-index: 5
                            // transition: opacity 0.4s 0.3s
                            // left: 0
                        .resultFullText
                            text-align: center
                                // display: flex
                                // flex-direction: column
                                // justify-content: center

                            .resultKcal
                                display: flex
                                flex-direction: row
                                justify-content: center
                                gap: 5px
                                // margin: 20px
                                padding: 20px 0px 0px 0px
                                font-size: 26px
                                color: whitesmoke

                            .highlightedResult
                                color: #d5d838
                                font-weight: bolder

                    .errorResult
                        // position: relative
                        // opacity: 1
                        // top: 0
                        // z-index: 5
                        display: flex
                        flex-direction: column
                        justify-content: center
                        margin: 20px 0 30px 0
                        // padding: 30px 20px 0 20px
                        border-top: 1px solid #d5d838
                        width: 100%
                        z-index: -11

                    .resultShow
                        position: relative
                        opacity: 1
                        top: 0
                        z-index: 5

                .calcInputHeightDefault
                    max-height: 650px
                .calcBmiInputHeightDefault
                    max-height: 425px
                .calcYmcaInputHeightDefault
                    max-height: 425px
                .calcInputHeightStretch
                    max-height: 800px
                    // transition: max-height 1s
                .calcBmiInputHeightStretch
                    max-height: 575px
                .calcYmcaInputHeightStretch
                    max-height: 575px

            .calcDisplay
                // display: inline-block
                position: relative
                visibility: visible
                opacity: 1
                z-index: 10
                max-height: 1200px
                left: 0
                transition: opacity 1s

        .calcsFAQ
            text-align: center
            margin-bottom: 30px

.socials
    display: flex
    position: relative
    flex-direction: column
    height: 100%
    width: 100%
    padding: 0px 0px 30px 0px
    // overflow: hidden
    // height: 1000px
    background-color: black
    background-position: center
    background-size: cover
    text-align: center

    p
        padding: 0 30px

    .footerIcons
        // width: 100vw
        // background-color: rgba(15, 15, 15, 0.4)
        // background-color: #d5d838
        // margin: 0px 30px
        padding: 10px
        text-align: center
        // border-top: solid 1px #d5d838
        // border-top: solid 1px #252525

        .underline
            background-color: #252525

        .icon
            text-align: center
            padding: 0px 20px
            font-size: 30px
            text-decoration: none
            color: #d5d838
        // color: black

.footer
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    // margin-top: 20px
    padding: 10px
    border-top: 1px solid whitesmoke
    background-color: black

    .copyright
        margin: 0 10px

@keyframes refresher
    0%
        transform: rotate(0)

    100%
        transform: rotate(360deg)

@keyframes rotateBars
    0%
        transform: rotateZ(0)
        color: whitesmoke
    100%
        transform: rotateZ(180deg)
        color: #d5d838
@keyframes reverseRotateBars
    0%
        transform: rotateZ(0)
        color: #d5d838
    100%
        transform: rotateZ(-180deg)
        color: whitesmoke

@keyframes transformIcon
    0%
        transform: rotateZ(0)
    30%
        color: #686868
    100%
        transform: rotateZ(360deg)
@keyframes nextTransformIcon
    0%
        transform: rotateZ(0)
    30%
        color: #686868
    100%
        transform: rotateZ(360deg)

// .dropdown-menu
//     left: 50% !important
//     transform: translateX(-50%) !important
//     top: 100% !important

// .animate
//     animation-duration: 0.4s
//     -webkit-animation-duration: 0.4s
//     // animation-fill-mode: both
//     // -webkit-animation-fill-mode: both

// @keyframes slideIn
//     0%
//         // transform: translateX(1rem)
//         opacity: 0

//     100% 
//         // transform: translateX(0rem)
//         opacity: 1

// .slideIn
//     animation-name: slideIn

    //odnosnie propozycji 1 z bootstrapowym buttonem

// .main
//     display: flex
//     justify-content: center
//     height: 1000px

// .nav
//     width: 100%
//     display: flex
//     justify-content: center

// .menuLabel
//     display: grid
//     grid-template-columns: 10fr 2fr
//     padding: 10px
//     height: 60px
//     background-color: black

//     // .menuBars
//     //     display: grid
//     //     justify-self: end 
//     //     width: 40px
//     //     height: 40px

                // .animationBars
            //     // animation: rotateBars 0.8s ease 0s 1 normal forwards
            //     transform: rotateZ(180deg)
            //     color: #d5d838
            //     // backface-visibility: hidden
            //     // perspective: 1000
            // .reverseAnimationBars
            //     // animation: reverseRotateBars 0.8s ease 0s 1 normal forwards
            //     transform: rotateZ('-180deg')
            //     color: whitesmoke
                // backface-visibility: hidden
                // perspective: 1000

//                 @keyframes rotateBars
//     0%
//         transform: rotateZ(0)
//         color: whitesmoke
//     100%
//         color: #d5d838
// @keyframes reverseRotateBars
//     0%
//         transform: rotateZ(0)
//         color: #d5d838
//     100%
//         transform: rotateZ(-180deg)
//         color: whitesmoke
