*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    background-color: grey
    font-family: 'Montserrat', sans-serif
    scroll-behavior: smooth

.popUpAboutUs

.wrapper
    display: flex
    flex-direction: column
    position: relative
    // height: 1000px
    color: white
    // overflow: hidden


    .nav
        display: flex
        position: sticky
        top: 0
        z-index: 2
        // width: 100%

        .menuLabel
            display: grid
            grid-template-columns: 1fr 3fr
            width: 100%
            padding: 15px 20px
            background-color: black
            z-index: 1
            position: sticky
            top: 0

            .menuBars, .logo
                display: grid
                grid-template-columns: 1fr 1fr
                justify-self: start
                background: none
                border: none

            .logo
                justify-self: end

                img
                    padding-left: 10px
                    height: 25px

            .logo, i
                align-self: center
                color: white
                font-size: 16px
                text-transform: uppercase
            i
                font-size: 20px

    .collapseMenu
        position: absolute
        top: 52px
        left: -75%// transition to 0 for collapse
        // background-color: rgba(0, 0, 0, 0.8)
        background: rgb(0,0,0)
        background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0.7) 100%)
        color: white
        padding: 15px 10px
        text-align: left
        border-bottom-right-radius: 50px
        transition: left 1.2s
        z-index: 30

        ul
            padding: 0
            margin: 0
            list-style-type: none
            list-style-position: outside
        li
            padding: 15px
            letter-spacing: 1px
            text-transform: uppercase

            i
                padding: 0px 15px

.menuLabel:hover + .collapseMenu
    left: 0

// .collapseMenu .nav:hover
// .nav:hover + .collapseMenu
//     left: 0
//     align-self: flex-end

// hover to test

.hero-shadow
    position: absolute
    background-color: rgba(0,0,0,0.7)
    height: 100%
    width: 100%
    z-index: -1

.header
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative
    width: 100%
    height: 100vh
    background-image: url(/imgs/headerSmall2.jpg)
    // background-color: black
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    z-index: 0

    h1
        color: white 
        text-align: center
        text-transform: uppercase
        letter-spacing: 2px
        font-size: 24px
    
    span
        color: white
        text-align: center
        font-size: 16px
        margin-bottom: 50px
        font-family: "Montserrat", cursive


// .articlesListSection, .currentArticleSection, .trainingsSection, .calculatorSection
section
    display: flex
    flex-direction: column
    height: 100%
    width: 100%
    background-color: black
    background-position: center
    background-size: cover

    .desrciption, .activeQuote
        margin: 10px 30px

    .allQuotes
        display: none

    .activeQuote
        text-align: center

        a
            font-size: 14px

        .quoteContainer
            display: flex
            flex-direction: column
            margin: 10px 0

            .quoteAuthor
                padding: 15px 0px 5px 0px
                font-size: 14px

    h3
        padding: 30px 0px 20px 0px
        margin: 0px 30px
        font-size: 18px
        text-align: left
        text-transform: uppercase
        letter-spacing: 2px
        // border-bottom: 1px solid white

        i
            color: grey

    .underline
        // align-self: center
        margin: 0px 30px 30px 30px
        height: 1px
        background-color: white
        // width: 80%

    .artCard
        align-self: center
        height: 250px
        width: 80%
        margin: 20px
        background-size: cover
        background-position: center
        box-shadow: 0px 0px 20px #0c0c0c
        z-index: 1

        .textCard
            display: flex
            flex-direction: column
            justify-content: flex-end
            align-items: center
            height: 100%
            width: 100%
            background: rgb(0,0,0)
            background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.9) 70%)
            z-index: -1

            h3, span
                margin: 0 10px
                padding: 10px
                text-align: left

            h3
                font-size: 20px
                border-bottom: 1px solid grey
            span
                font-size: 14px

.about
    .footerIcons
        margin: 10px auto 20px auto
    .icon
        padding: 0 15px
        font-size: 30px
        text-decoration: none
        color: whitesmoke

.firstArticle
    background-image: url(/imgs/article_zmeczenie.jpg)
.secondArticle
    background-image: url(/imgs/article_zdrowiepsych.jpg)
.thirdArticle
    background-image: url(/imgs/article_sauna.jpg)
.fourthArticle
    background-image: url(/imgs/article_podstawy.jpg)

.currentArticleSection
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    width: 100%
    padding: 30px 0
    z-index: -1

    .allArticles
        display: none

    .activeArticle
        display: flex
        flex-direction: column
        margin: 0px 30px
        overflow: hidden
        height: 500px
        // justify-content: center

        .articleInfo
            display: flex
            flex-direction: column

        img
            align-self: center
            // height: 250px
            width: 100%
            margin: 20px
            background-size: cover
            background-position: center

        h5, .articleDate, .source
            font-size: 12px
            text-align: center

        .zmeczenieArticle, .cwiczeniaArticle, .saunaArticle, .podstawyArticle
            // .cwiczeniaArticle, .saunaArticle, .podstawyArticle
            display: flex
            // display: none
            flex-direction: column
            // height: 500px


            h3, .underline
                margin: 0


            .mainArticle
                margin-top: 20px
                text-align: left
                font-size: 14px
                color: #d6d6d6 

                .Section
                    padding-top: 10px
                    line-height: 24px

                .firstSection
                    font-weight: bold

                .bibliography
                    font-size: 12px

                h5
                    color: white
                    padding-bottom: 5px
                    font-size: 18px
                    text-align: left
                    letter-spacing: 1px

.trainingsSection, .calculatorSection

    .trainingsCards
        display: flex
        flex-direction: column

        .training
            margin: 20px 30px
            height: 80px
            // background-color: tomato
            border-radius: 10px
            overflow: hidden
            border: 1px solid #353434
            transition: height 0.5s

        .backgroundTraining
            // display: flex
            // flex-direction: column
            // justify-content: center
            position: relative
            top: -50px
            height: 200px
            width: 100%
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            transition: top 0.5s
            z-index: 1

            h3
                text-align: center
                padding: 70px 0px
                letter-spacing: 4px
                transition: 0.5s
                z-index: 1

            .backgroundTrainingShadow
                position: absolute
                height: 100%
                width: 100%
                background-color: rgba(0,0,0,0.7)
                transition: background-color 0.5s
                z-index: -1

        .backgroundCardio
            background-image: url(/imgs/training_cardio1.jpg)

        .backgroundFitness
            background-image: url(/imgs/trainign_fitness.jpg)

        .backgroundStrength
            background-image: url(/imgs/training_StrengthSMALL.jpg)

        .backgroundFunctional
            background-image: url(/imgs/training_functional.jpg)

        .training:hover
            height: 400px

        .training:hover .backgroundTraining
            top: 0

        .training:hover .backgroundTrainingShadow
            background-color: rgba(0,0,0,0.3)

        .training:hover h3
            padding: 10px
            text-shadow: 2px 2px 10px black
            // text-align: left

.calculatorSection
    .calculator
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .dropdown
            max-height: 25px
            overflow: hidden
            border: 1px solid white
            transition: max-height 0.6s

            h5
                border-bottom: 1px solid white

        .dropdown:hover
            max-height: 110px

        .activeCalc

            .kcalCalc
                .kcalInputs
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    margin: 20px

                    .kcalInputContainer
                        display: grid
                        grid-template-columns: 1fr 1fr
                        width: 100%
                        justify-items: center
                        padding: 20px

                        .kcalQuestion
                            align-self: center
                            justify-self: center

                        .kcalInput
                            width: 50px
                            background: none
                            border: none
                            border-bottom: 2px solid grey
                            color: white

                        .activityContainer
                            .activity-form
                                background: black
                                border: none
                                text-align: center
                                color: white
                                width: 110%
                                font-size: 14px                 

                        .kcalInput:focus
                            outline: none
                            border-bottom: 2px solid white
                            transition: 0.2s
                            z-index: 1

                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button
                            -webkit-appearance: none
                            margin: 0

                        input[type=number]
                            -moz-appearance: textfield


        .allCalcs
            display: none

// [aria-label]
//     position: relative

//     [aria-label="activity-select"]:after
//         content: attr(aria-label)
//         display: none
//         position: absolute
//         top: 110%
//         left: 10px
//         z-index: 5000
//         pointer-events: none
//         padding: 8px 10px
//         line-height: 15px
//         white-space: nowrap
//         text-decoration: none
//         text-indent: 0
//         overflow: visible
//         font-size: .9em
//         font-weight: normal
//         color: #fff
//         text-shadow: 1px 0 1px #888
//         background-color: #412917
//         border-left: 6px solid #d37092
//         border-radius: 2px
//         box-shadow: 1px 2px 6px rgba(0,0,0,0.3)

.footer
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 10px
    border-top: 1px solid whitesmoke
    background-color: black

    .copyright
        margin: 0 10px


// .dropdown-menu
//     left: 50% !important
//     transform: translateX(-50%) !important
//     top: 100% !important

// .animate
//     animation-duration: 0.4s
//     -webkit-animation-duration: 0.4s
//     // animation-fill-mode: both
//     // -webkit-animation-fill-mode: both

// @keyframes slideIn
//     0%
//         // transform: translateX(1rem)
//         opacity: 0
  

//     100% 
//         // transform: translateX(0rem)
//         opacity: 1

// .slideIn
//     animation-name: slideIn

    //odnosnie propozycji 1 z bootstrapowym buttonem
  

    
    







// .main
//     display: flex
//     justify-content: center
//     height: 1000px

// .nav
//     width: 100%
//     display: flex
//     justify-content: center

// .menuLabel
//     display: grid
//     grid-template-columns: 10fr 2fr
//     padding: 10px
//     height: 60px
//     background-color: black

//     // .menuBars
//     //     display: grid
//     //     justify-self: end 
//     //     width: 40px
//     //     height: 40px
