* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
}

body .nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

body .nav .menuLabel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  padding: 15px 20px;
  background-color: black;
  z-index: 1;
  position: sticky;
  top: 0;
}

body .nav .menuLabel .menuBars, body .nav .menuLabel .logo {
  display: grid;
  justify-self: start;
  background: none;
  border: none;
}

body .nav .menuLabel .logo {
  justify-self: end;
}

body .nav .menuLabel .logo, body .nav .menuLabel i {
  align-self: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

body .nav .menuLabel i {
  font-size: 20px;
}

body .collapseMenu {
  position: absolute;
  top: 52px;
  left: -75%;
  background: black;
  background: linear-gradient(180deg, black 30%, rgba(0, 0, 0, 0.7) 100%);
  color: white;
  padding: 15px 10px;
  text-align: left;
  border-bottom-right-radius: 50px;
  transition: left 1.2s;
  z-index: 30;
}

body .collapseMenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: outside;
}

body .collapseMenu li {
  padding: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

body .collapseMenu li i {
  padding: 0px 15px;
}

.nav:hover > .collapseMenu {
  left: 0;
}

.hero-shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(/imgs/headerSmall2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.header h1, .header h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.header h3 {
  letter-spacing: 1px;
  font-size: 16px;
  padding: 0px 20px;
}

.header span {
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 25px;
  font-family: "Montserrat", cursive;
}

.articlesListSection, .currentArticleSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: black;
  background-position: center;
  background-size: cover;
}

.articlesListSection h3, .currentArticleSection h3 {
  padding: 30px 0px 20px 0px;
  margin: 0px 30px;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.articlesListSection h3 i, .currentArticleSection h3 i {
  color: grey;
}

.articlesListSection .underline, .currentArticleSection .underline {
  margin: 0px 30px 30px 30px;
  height: 1px;
  background-color: white;
}

.articlesListSection .artCard, .currentArticleSection .artCard {
  align-self: center;
  height: 250px;
  width: 80%;
  margin: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px #0c0c0c;
  z-index: 1;
}

.articlesListSection .artCard .textCard, .currentArticleSection .artCard .textCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 70%);
  z-index: -1;
}

.articlesListSection .artCard .textCard h3, .articlesListSection .artCard .textCard span, .currentArticleSection .artCard .textCard h3, .currentArticleSection .artCard .textCard span {
  margin: 0 10px;
  padding: 10px;
  text-align: left;
}

.articlesListSection .artCard .textCard h3, .currentArticleSection .artCard .textCard h3 {
  font-size: 20px;
  border-bottom: 1px solid grey;
}

.articlesListSection .artCard .textCard span, .currentArticleSection .artCard .textCard span {
  font-size: 14px;
}

.firstArticle {
  background-image: url(/imgs/article_zmeczenie.jpg);
}

.secondArticle {
  background-image: url(/imgs/article_zdrowiepsych.jpg);
}

.thirdArticle {
  background-image: url(/imgs/article_sauna.jpg);
}

.fourthArticle {
  background-image: url(/imgs/article_podstawy.jpg);
}

.currentArticleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 30px 0;
  z-index: -1;
}

.currentArticleSection .activeArticle, .currentArticleSection .articleInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentArticleSection .activeArticle img, .currentArticleSection .articleInfo img {
  align-self: center;
  width: 100%;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.currentArticleSection .activeArticle h5, .currentArticleSection .activeArticle .articleDate, .currentArticleSection .activeArticle .source, .currentArticleSection .articleInfo h5, .currentArticleSection .articleInfo .articleDate, .currentArticleSection .articleInfo .source {
  font-size: 12px;
  text-align: center;
}

.currentArticleSection .activeArticle {
  margin: 0px 30px;
  overflow: hidden;
}

.currentArticleSection .activeArticle .zmeczenieArticle, .currentArticleSection .activeArticle .cwiczeniaArticle, .currentArticleSection .activeArticle .saunaArticle, .currentArticleSection .activeArticle .podstawyArticle {
  display: none;
}

.currentArticleSection .activeArticle .podstawyArticle {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.currentArticleSection .activeArticle .podstawyArticle h3, .currentArticleSection .activeArticle .podstawyArticle .underline {
  margin: 0;
}

.currentArticleSection .activeArticle .podstawyArticle .mainArticle {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  color: #d6d6d6;
}

.currentArticleSection .activeArticle .podstawyArticle .mainArticle .Section {
  padding-top: 10px;
  line-height: 24px;
}

.currentArticleSection .activeArticle .podstawyArticle .mainArticle .firstSection {
  font-weight: bold;
}

.currentArticleSection .activeArticle .podstawyArticle .mainArticle .bibliography {
  font-size: 12px;
}

.currentArticleSection .activeArticle .podstawyArticle .mainArticle h5 {
  color: white;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
}
/*# sourceMappingURL=small.css.map */