* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  background-image: url(/imgs/bg_small.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
}

.wrapper .nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}

.wrapper .nav .menuLabel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  padding: 15px 20px;
  background-color: #000000;
  border-bottom: 1px solid #131313;
  z-index: 10;
  position: sticky;
  top: 0;
}

.wrapper .nav .menuLabel .menuBars {
  display: grid;
  justify-self: start;
  background: none;
  border: none;
}

.wrapper .nav .menuLabel .menuBars i {
  font-size: 20px;
  color: whitesmoke;
  align-self: center;
  transition: transform 0.8s, color 0.8s;
}

.wrapper .nav .menuLabel .menuBars .animationBars {
  transform: rotateZ(180deg);
  color: #d5d838;
}

.wrapper .nav .menuLabel .logo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-self: end;
}

.wrapper .nav .menuLabel .logo h3 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 3px;
  color: whitesmoke;
  align-self: center;
}

.wrapper .nav .menuLabel .logo img {
  padding-left: 10px;
  height: 25px;
}

.wrapper .scroll-fix::before {
  content: '';
  display: block;
  height: 100px;
  margin-top: -50px;
}

.wrapper .collapseMenu {
  position: absolute;
  top: 52px;
  left: -75%;
  background: black;
  background: linear-gradient(180deg, black 20%, rgba(0, 0, 0, 0.85) 100%);
  color: white;
  padding: 15px 10px;
  text-align: left;
  border-bottom-right-radius: 50px;
  transition: left 1.2s;
  z-index: 9;
}

.wrapper .collapseMenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: outside;
}

.wrapper .collapseMenu li {
  padding: 15px 15px 15px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.wrapper .collapseMenu li a {
  text-decoration: none;
  color: whitesmoke;
}

.wrapper .collapseMenu li .fas {
  padding: 0px 15px;
  color: #d5d838;
  color: grey;
  transition: color 0.5s;
}

.wrapper .collapseMenu li .activeSection {
  color: #d5d838;
  font-weight: bolder;
}

.wrapper .activateCollapse {
  left: 0;
}

.fa-calculator, .fa-fire-alt, .fa-book-reader, .fa-home {
  color: #d5d838;
}

.hero-shadow, .hero-shadow-reverse, .hero-shadow-bothsides, .hero-shadow-quote {
  position: absolute;
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 50%, black 100%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero-shadow-quote {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-radius: 25px;
}

.hero-shadow-bothsides {
  background: linear-gradient(180deg, black 5%, rgba(0, 0, 0, 0.8), black 95%);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/imgs/headerSmall2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  margin-top: -55px;
  text-shadow: 2px 2px 2px black;
}

.header h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  padding: 5px;
}

.header span {
  color: #d5d838;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 50px;
}

.articlesListSection {
  z-index: 1;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

section .highlighted {
  color: #d5d838;
  font-weight: bold;
}

section .desrciption, section .activeQuote {
  margin: 20px 30px 0px 30px;
}

section .allQuotes {
  display: none;
}

section .activeQuote {
  position: relative;
  text-align: center;
  min-height: 130px;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

section .activeQuote .quoteContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: #e6e6e6;
}

section .activeQuote .quoteContainer .quoteAuthor {
  padding-top: 15px;
  font-size: 14px;
}

section .quoteChange {
  font-size: 14px;
  text-align: center;
  margin: 20px auto;
  width: 70px;
  background-color: #d5d838;
  border-radius: 20px;
}

section .quoteChange i {
  padding: 10px;
  color: black;
}

section .quoteChange .transformIcons {
  animation: transformIcon 0.8s ease 0s 1 normal forwards;
}

section .quoteChange .nextTransformIcons {
  animation: nextTransformIcon 0.8s ease 0s 1 normal forwards;
}

section .footerIcons {
  width: 100vw;
  background-color: rgba(15, 15, 15, 0.4);
  margin: 0px auto 20px auto;
  padding: 10px;
  text-align: center;
}

section .icon {
  text-align: center;
  padding: 0px 20px;
  font-size: 30px;
  text-decoration: none;
  color: #d5d838;
}

section h3 {
  padding: 30px 0px 20px 0px;
  margin: 0px 30px;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section .underline {
  margin: 0px 30px 30px 30px;
  height: 1px;
  background-color: whitesmoke;
  background-color: #cecece;
}

section .artCard {
  align-self: center;
  height: 250px;
  width: 80%;
  margin: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px #0c0c0c;
  z-index: 1;
}

section .artCard .textCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 70%);
  z-index: -1;
}

section .artCard .textCard h3, section .artCard .textCard span {
  margin: 0 10px;
  padding: 10px;
  text-align: left;
}

section .artCard .textCard h3 {
  font-size: 20px;
  border-bottom: 1px solid grey;
}

section .artCard .textCard span {
  font-size: 14px;
}

.firstArticle {
  background-image: url(/imgs/article_zmeczenie.jpg);
}

.secondArticle {
  background-image: url(/imgs/article_zdrowiepsych.jpg);
}

.thirdArticle {
  background-image: url(/imgs/article_sauna.jpg);
}

.fourthArticle {
  background-image: url(/imgs/article_podstawy.jpg);
}

.articlesListSection {
  background-color: #000000;
}

.currentArticleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.currentArticleSection .allArticles {
  display: none;
}

.currentArticleSection .activeArticle {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  max-height: 450px;
  transition: max-height 4s;
}

.currentArticleSection .activeArticle .articleInfo {
  display: flex;
  flex-direction: column;
}

.currentArticleSection .activeArticle .articleInfo .articleDate, .currentArticleSection .activeArticle .articleInfo h5 {
  display: inline-block;
}

.currentArticleSection .activeArticle img {
  align-self: center;
  max-width: 500px;
  width: 100%;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.currentArticleSection .activeArticle h5, .currentArticleSection .activeArticle .articleDate, .currentArticleSection .activeArticle .source {
  margin: 2px;
  font-size: 12px;
  text-align: left;
  color: #bebebe;
}

.currentArticleSection .activeArticle h5 .fas, .currentArticleSection .activeArticle h5 .far, .currentArticleSection .activeArticle .articleDate .fas, .currentArticleSection .activeArticle .articleDate .far, .currentArticleSection .activeArticle .source .fas, .currentArticleSection .activeArticle .source .far {
  padding-right: 5px;
}

.currentArticleSection .activeArticle .zmeczenieArticle, .currentArticleSection .activeArticle .cwiczeniaArticle, .currentArticleSection .activeArticle .saunaArticle, .currentArticleSection .activeArticle .podstawyArticle {
  display: flex;
  flex-direction: column;
}

.currentArticleSection .activeArticle .zmeczenieArticle h3, .currentArticleSection .activeArticle .zmeczenieArticle .underline, .currentArticleSection .activeArticle .cwiczeniaArticle h3, .currentArticleSection .activeArticle .cwiczeniaArticle .underline, .currentArticleSection .activeArticle .saunaArticle h3, .currentArticleSection .activeArticle .saunaArticle .underline, .currentArticleSection .activeArticle .podstawyArticle h3, .currentArticleSection .activeArticle .podstawyArticle .underline {
  margin: 0;
}

.currentArticleSection .activeArticle .zmeczenieArticle .mainArticle, .currentArticleSection .activeArticle .cwiczeniaArticle .mainArticle, .currentArticleSection .activeArticle .saunaArticle .mainArticle, .currentArticleSection .activeArticle .podstawyArticle .mainArticle {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  color: #d6d6d6;
}

.currentArticleSection .activeArticle .zmeczenieArticle .mainArticle .Section, .currentArticleSection .activeArticle .cwiczeniaArticle .mainArticle .Section, .currentArticleSection .activeArticle .saunaArticle .mainArticle .Section, .currentArticleSection .activeArticle .podstawyArticle .mainArticle .Section {
  padding-top: 10px;
  line-height: 24px;
}

.currentArticleSection .activeArticle .zmeczenieArticle .mainArticle .firstSection, .currentArticleSection .activeArticle .cwiczeniaArticle .mainArticle .firstSection, .currentArticleSection .activeArticle .saunaArticle .mainArticle .firstSection, .currentArticleSection .activeArticle .podstawyArticle .mainArticle .firstSection {
  font-weight: bold;
}

.currentArticleSection .activeArticle .zmeczenieArticle .mainArticle .bibliography, .currentArticleSection .activeArticle .cwiczeniaArticle .mainArticle .bibliography, .currentArticleSection .activeArticle .saunaArticle .mainArticle .bibliography, .currentArticleSection .activeArticle .podstawyArticle .mainArticle .bibliography {
  font-size: 12px;
}

.currentArticleSection .activeArticle .zmeczenieArticle .mainArticle h5, .currentArticleSection .activeArticle .cwiczeniaArticle .mainArticle h5, .currentArticleSection .activeArticle .saunaArticle .mainArticle h5, .currentArticleSection .activeArticle .podstawyArticle .mainArticle h5 {
  color: white;
  padding-bottom: 5px;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
}

.currentArticleSection .activeArticle .zmeczenieArticle .mainArticle .source, .currentArticleSection .activeArticle .cwiczeniaArticle .mainArticle .source, .currentArticleSection .activeArticle .saunaArticle .mainArticle .source, .currentArticleSection .activeArticle .podstawyArticle .mainArticle .source {
  display: block;
}

.currentArticleSection .dropdownArticles {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(180deg, #ffffff00 0%, #000000 85%);
  align-items: center;
  height: 450px;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  transition: height 1s 1s, padding 1s 1s, margin 1s 1s;
}

.currentArticleSection .dropdownArticles span {
  color: whitesmoke;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px 10px;
}

.currentArticleSection .dropdownArticles .clickToExtend {
  opacity: 1;
  position: relative;
  transition: opacity 0.8s 4.3s;
}

.currentArticleSection .dropdownArticles .dropdownSpanChange {
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s;
}

.currentArticleSection .dropdownArticles .clickToRoll {
  opacity: 0;
  position: absolute;
  padding: 0;
  color: grey;
  font-size: 12px;
  z-index: 15;
  transition: opacity 0.8s;
}

.currentArticleSection .dropdownArticles .clickToRollShow {
  opacity: 1;
  position: relative;
  transition: opacity 0.8s 3.3s;
}

.currentArticleSection .heightReset {
  max-height: 5000px;
}

.currentArticleSection .dropdownHeight {
  height: 50px;
  padding: 0;
  margin: 0;
}

.trainingsSection .trainingsCards, .calculatorSection .trainingsCards {
  display: flex;
  flex-direction: column;
}

.trainingsSection .trainingsCards .training, .calculatorSection .trainingsCards .training {
  margin: 20px 30px;
  max-height: 80px;
  background: linear-gradient(180deg, black 30%, black 90%);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #141414;
  transition: 1s;
}

.trainingsSection .trainingsCards .training p, .calculatorSection .trainingsCards .training p {
  padding: 0px 15px 0px 15px;
  text-align: left;
}

.trainingsSection .trainingsCards .training .trainingMovies, .calculatorSection .trainingsCards .training .trainingMovies {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.trainingsSection .trainingsCards .training .trainingMovies a, .trainingsSection .trainingsCards .training .trainingMovies i, .calculatorSection .trainingsCards .training .trainingMovies a, .calculatorSection .trainingsCards .training .trainingMovies i {
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
}

.trainingsSection .trainingsCards .training .trainingMovies a, .calculatorSection .trainingsCards .training .trainingMovies a {
  color: #e0e0e0;
}

.trainingsSection .trainingsCards .training .trainingMovies i, .calculatorSection .trainingsCards .training .trainingMovies i {
  color: #b31818;
}

.trainingsSection .trainingsCards .backgroundTraining, .calculatorSection .trainingsCards .backgroundTraining {
  position: relative;
  top: -50px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: top 0.5s;
  z-index: 1;
}

.trainingsSection .trainingsCards .backgroundTraining h3, .calculatorSection .trainingsCards .backgroundTraining h3 {
  text-align: center;
  padding: 70px 0px;
  letter-spacing: 4px;
  transition: 0.5s;
  z-index: 1;
}

.trainingsSection .trainingsCards .backgroundTraining .backgroundTrainingShadow, .calculatorSection .trainingsCards .backgroundTraining .backgroundTrainingShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, black 95%);
  transition: background-color 0.5s;
  z-index: -1;
}

.trainingsSection .trainingsCards .backgroundCardio, .calculatorSection .trainingsCards .backgroundCardio {
  background-image: url(/imgs/training_cardio3.jpg);
}

.trainingsSection .trainingsCards .backgroundFitness, .calculatorSection .trainingsCards .backgroundFitness {
  background-image: url(/imgs/trainign_fitness.jpg);
}

.trainingsSection .trainingsCards .backgroundStrength, .calculatorSection .trainingsCards .backgroundStrength {
  background-image: url(/imgs/training_StrengthSMALL.jpg);
}

.trainingsSection .trainingsCards .backgroundFunctional, .calculatorSection .trainingsCards .backgroundFunctional {
  background-image: url(/imgs/training_functional.jpg);
}

.trainingsSection .trainingsCards .training:hover, .calculatorSection .trainingsCards .training:hover {
  max-height: 1000px;
  border: 1px solid #d5d838;
}

.trainingsSection .trainingsCards .training:hover .backgroundTraining, .calculatorSection .trainingsCards .training:hover .backgroundTraining {
  top: 0;
}

.trainingsSection .trainingsCards .training:hover h3, .calculatorSection .trainingsCards .training:hover h3 {
  padding: 20px 0px;
  text-shadow: 2px 2px 2px black;
}

.calculatorSection .calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculatorSection .calculator .dropdown {
  max-height: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  transition: 0.5s;
}

.calculatorSection .calculator .dropdown h5 {
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
  font-weight: bolder;
  color: black;
  letter-spacing: 2px;
  background-color: #d5d838;
}

.calculatorSection .calculator .dropdown h5 i {
  padding: 0px 0px 0px 10px;
  transition: transform 0.5s;
}

.calculatorSection .calculator .dropdown ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.calculatorSection .calculator .dropdown ul li {
  position: relative;
  text-align: center;
  margin: 15px 0px;
  padding: 5px 20px;
  width: 100%;
  transition: 0.6s;
}

.calculatorSection .calculator .dropdown ul li .underlineCalc {
  position: relative;
  left: calc(50% - 10px);
  height: 1px;
  width: 20px;
  background-color: #d5d838;
  margin-top: 5px;
  transition: 0.5s;
}

.calculatorSection .calculator .dropdown ul li:hover .underlineCalc {
  width: 120px;
  left: calc(50% - 60px);
}

.calculatorSection .calculator .dropdown ul li:hover {
  color: #d5d838;
}

.calculatorSection .calculator .dropdown:hover {
  max-height: 215px;
}

.calculatorSection .calculator .dropdown:hover i {
  transform: rotateX(-180deg);
}

.calculatorSection .calculator .accordion {
  margin: auto;
  width: 80%;
}

.calculatorSection .calculator .accordion .card {
  border-radius: 0;
  font-size: 10px;
}

.calculatorSection .calculator .accordion .card .card-header {
  background-color: #d5d838;
  padding: 0;
}

.calculatorSection .calculator .accordion .card .card-header h2 button {
  width: 100%;
  margin: 0;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 16px;
  text-align: left;
  outline: none;
}

.calculatorSection .calculator .accordion .card .card-header h2 i {
  align-self: center;
  justify-self: end;
}

.calculatorSection .calculator .accordion .card .card-header h2 button {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.calculatorSection .calculator .accordion .card .card-header h2 .btn-link .fa-plus {
  display: none;
}

.calculatorSection .calculator .accordion .card .card-header h2 .collapsed .fa-minus {
  display: none;
}

.calculatorSection .calculator .accordion .card .card-header h2 .collapsed .fa-plus {
  display: block;
}

.calculatorSection .calculator .accordion .collapse {
  transition: 0.5s;
}

.calculatorSection .calculator .accordion .collapse .card-body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}

.calculatorSection .calculator .accordion .show {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.calculatorSection .calculator .accordion .collapsing {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.calculatorSection .calculator .activeCalc {
  margin-bottom: 20px;
}

.calculatorSection .calculator .activeCalc .kcalCalc .startCalc {
  border-radius: 25px 25px 0px 0px;
  padding: 20px;
  text-align: center;
  font-family: 'Montserrat', serif;
}

.calculatorSection .calculator .activeCalc .kcalCalc .startCalc .underline {
  margin: 20px 20px 0px 20px;
  background-color: #d5d838;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs {
  font-family: 'Montserrat', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid #d5d838;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  justify-items: end;
  align-items: center;
  padding: 20px;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer .kcalQuestion {
  align-items: center;
  justify-self: start;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer .kcalInput {
  width: 80px;
  background: none;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 3px 6px;
  color: white;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer .activityContainer .activity-form, .calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer .genderContainer .activity-form {
  border: none;
  justify-self: end;
  justify-items: end;
  align-self: center;
  text-align: right;
  color: white;
  width: 100%;
  margin: auto;
  font-size: 14px;
  background-color: black;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer .kcalInput:focus {
  outline: none;
  border: 1px solid #d5d838;
  transition: border 0.3s;
  z-index: 1;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer input::-webkit-outer-spin-button,
.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalInputContainer input[type=number] {
  -moz-appearance: textfield;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .kcalResultBtn {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 150px;
  margin: 20px;
  padding: 8px 16px;
  grid-template-columns: 8fr 2fr;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #d5d838;
}

.calculatorSection .calculator .activeCalc .kcalCalc .kcalInputs .result {
  margin: 20px;
  text-align: center;
}

.calculatorSection .calculator .allCalcs {
  display: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-top: 1px solid whitesmoke;
  background-color: black;
}

.footer .copyright {
  margin: 0 10px;
}

@keyframes refresher {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBars {
  0% {
    transform: rotateZ(0);
    color: whitesmoke;
  }
  100% {
    transform: rotateZ(180deg);
    color: #d5d838;
  }
}

@keyframes reverseRotateBars {
  0% {
    transform: rotateZ(0);
    color: #d5d838;
  }
  100% {
    transform: rotateZ(-180deg);
    color: whitesmoke;
  }
}

@keyframes transformIcon {
  0% {
    transform: rotateZ(0);
  }
  30% {
    color: #686868;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes nextTransformIcon {
  0% {
    transform: rotateZ(0);
  }
  30% {
    color: #686868;
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=small.css.map */